@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-title{
        @apply font-semibold text-white cursor-pointer text-[25px] w-fit md:block after:block after:content-[''] 
        after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 hover:after:scale-x-[25%] 
        after:transition after:duration-300 after:origin-left
    }
    .nav-link {
        @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md:block after:block after:content-[''] 
        after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 hover:after:scale-x-100 
        after:transition after:duration-300 after:origin-center hidden hover:text-red-600; ;
    }
    .nav-link-mobile {
        @apply relative mb-[2rem] font-semibold text-white cursor-pointer text-[27px] w-fit md:block after:block after:content-[''] 
        after:absolute after:h-[3px] after:bg-yellow-400 after:w-full after:scale-x-0 hover:after:scale-x-100 
        after:transition after:duration-300 after:origin-center hover:text-red-600; }
}